
.title {
  color: black;
  text-align: center;
}
.action:hover {color: blue;}
.action:active {color: yellow;}

input[type=text] {
  background: red;
}
input[type=password] {
  background: blue;
}

img[src$=png] {
  border: 3px solid red;
}

img[src$=jpg] {
  border: 3px solid green;
}

img[src$=gif] {
  border: 3px solid blue;
}

#header h1 {
  color: red;
}

#section h1 {
  color: orange;
}

#header2 > h1 {
  color: red;
}

#section2 > h1 {
  color: orange;
}
