<!DOCTYPE html>
<html lang="ko" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Motor Control Test Page</title>
  </head>

  <body>
    <h1>Motor TEST</h1>
    <hr>
    Motor Status : {{motor_status}}
    Lift Status : {{lift_status}}
    <hr>
    <input type="button" name="" value="Forward" onclick="location.href='/motor/f'">
    <input type="button" name="" value="Backward" onclick="location.href='/motor/b'">
    <input type="button" name="" value="ForeLeft" onclick="location.href='/motor/fl'">
    <input type="button" name="" value="ForeRight" onclick="location.href='/motor/fr'">
    <input type="button" name="" value="RearLeft" onclick="location.href='/motor/rl'">
    <input type="button" name="" value="RearRight" onclick="location.href='/motor/rr'">
    <input type="button" name="" value="MotorStop" onclick="location.href='/motor/ms'">
    <input type="button" name="" value="LiftUp" onclick="location.href='/motor/'lu">
    <input type="button" name="" value="LiftDown" onclick="location.href='/motor/ld'">
    <input type="button" name="" value="LiftStop" onclick="location.href='/motor/ls'">

    <hr>
  </body>

</html>
