<!DOCTYPE html>
<html lang="ko" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Flask static Test</title>
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='hello.css')}}">
    <script src="{{url_for('static', filename='hello.js')}}"></script> -->
    <link rel="stylesheet" href="../static/hello.css">
    <script src="../static/hello.js"></script>
  </head>

  <body>
    <h1>Flask static Test</h1>
    <hr>
    <form class="" action="" method="get">
      <input type="button" name="" value="Say Hello" onclick="sayHello()">
    </form>
  </body>

</html>
