<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    #test {
        width: 540px;
        height: 230px;
    }
    #divtest {
        width: 250px;
        height: 150px;
        border: 1px solid;
    }
    </style>
</head>
<body>
    <table id="test" border="0">
        <tr>
            <td>
                <h2>지게차 별 상태표시</h2>
                <div id="divtest"></div>

            </td>
            <td>
                <h2>타임스탬프 로그 표시</h2>
                <div id="divtest"></div>
            </td>
        </tr>
    </table>


</body>
</html>



